
.first{
  width: 100vw;
  height: 100vh;
  background-image:url(/image/img.jpg);
  background-color: rgb(17, 17, 17);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.menu{
  width: 100vw;
  height: 7vh;
  border-bottom: 2px solid  #b3a064;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color:#16161679;
}

.menu>li{
  margin-left: 100px;
  font-size: 22px;
  color: #b3a064;
  list-style-type: none;
  cursor: pointer;

}

.menu>li:hover{
  color: #ffc400;
  cursor: pointer;
}

.icon{
  width: 7vw;
  height: 7vw;
  position:absolute;
  left: 200px;
  top:10px;
  border-radius: 20px;
  background-image:url(/image/프린스앱.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.main{
  width: 100vw;
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.iphone{
  margin:140px
}

.gal{
  margin: 140px;
}


.gal{
  width: 18vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gal>img{
  position:absolute;
  width: 65vw;
  z-index: 1;
}


.gif{
  width: 16.5vw;
  height: 35vh;
  z-index: 2;
  position: relative;
  left: 3.5px;
  background-image: url(/image/아이폰디스플레이.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.apple{
  width: 15vw;
  height: 9vh;
  position: relative;
  z-index: 2;
  top: 50px;
  left: 5px;
  background-image: url(/image/앱스토어.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.bul{
  width: 13vw;
  height: 19vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(167, 167, 167, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 20%;
}

.bul>div{
  margin-top: 10px;
}

.bul>div:nth-child(1){
  width: 7vw;
  height: 7vw;
  background-image: url(/image/qrCode-9cd0e170c1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bul>div:nth-child(2){
  width: 8vw;
  height: 2.3vh;
  color: rgba(255, 255, 255, 0.404);
  background-color: #161616;
  display:flex;
  justify-content: center;
  align-items: center;
}


.iphone{
  width: 18vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.iphone>img{
  width:22vw;
  position:absolute;
}

.gifs{
  width: 15vw;
  height: 35vh;
  z-index: 2;
  position: relative;
  left:1px;
  background-image: url(/image/갤럭시디스플레이.gif);
  background-repeat: no-repeat;
  background-size:cover;
  background-position:70%;
}


.play{
  width: 15vw;
  height: 10vh;
  position: relative;
  z-index: 2;
  top: 50px;
  left: 3px;
  background-image: url(/image/플레이스토어.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

