
.second{
  width: 100vw;
  height: 50vh;
  border-top:5px solid #d9c581;
  border-bottom:5px solid #d9c581;
  display: flex;
}

.leftimg{
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftimg>img{
  width: 50vw;
  height: 50vh;
}

.news{
  width: 50vw;
  height: 50vh;
  border-left:1px solid #d9c581;
  background-color: #161616;

}

.head{
  width: 50vw;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d9c581 ;
  color:  #d9c581;
}

.head>div{
  margin:20px
}

.datas{
  width: 50vw;
  height:43vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.lines{
  width: 20vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9c581;
  clip-path: polygon(10% 100%, 90% 100%, 100% 0, 0 0);
}

.lines>h1{
  color: #262626;
}

.newsdata{
  width: 50vw;
  height: 38vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.newsdata>div{
  width: 40vw;
  height: 5vh;
  margin: 10px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 20px;
  font-size: 18px;
  color: #9999;
}

.newsdata>div:hover{
  color:  #d9c581;
  cursor: pointer;
}

@media (max-width:1520px){
  .lines{
    font-size: 1vw;
  }
}

@media (max-width:1300px){
  .second{
    background-image: url(../image/testtwo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .lines{
    display: none;
  }
  .second{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .leftimg{
    display: none;
  }
  .news {
    width: 50vw;
    height: 50vh;
    border: 1px solid #d9c581;
    background-color: #161616e8;
  }

  .datas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .head{
    font-size: 1vw;
  }

}

@media (max-width:1000px){
  .second{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .leftimg{
    display: none;
  }
  .news {
    width: 50vw;
    height: 50vh;
    border: 1px solid #d9c581;
  }
  .newsdata{
    font-size: 1vw;
  }
}

@media (max-width:820px) {
.news{
  width: 100vw;
}
.head{
  width: 100vw;
}
.datas{
  width: 100vw;
}
.newsdata{
  width: 100vw;
}
.newsdata>div{
  width: 80vw;
  height: 10vh;
}
}
@media (max-width:500px) {
  .newsdata>div {
    height: 15vh;
    font-size: 16px;
    margin: 5px;
  }
}